page-location-info {
	.indication-meessage {
		white-space: normal;
		width: 100%;
		color: #00ff00;
		height: auto;
		font-size: 18px;
		text-align: center;
	}

	.toolbar {
		padding: 0 16px !important;
	}
	.map-container {
		position: absolute;
		top: 40px;
		bottom: 0px;
		left: 0;
		right: 0;
	}

	.searchbar {
		z-index: 11;
		position: fixed;
	}

	.logo_img_bottom {
		width: 55px;
		height: auto;
		float: right;
	}

	.floor-list {
		position: absolute;
		bottom:30px;
		left:5px;
		width: 40px;
		height: auto;
		background-color:#ffffff;
		ion-list {
			margin: 0;
			.item {
				padding: 0;
				.label {
					padding-left:10px;
				}
			}
		}
	}
	.search-list-container{
		z-index: 11;
		position: relative;
		height: auto;
		max-height: 150px;
		overflow-y: scroll;
		background-color: #ffffff;
		margin: 0 8px;

		ion-list {
			margin:0;
		}
	}

	.building-select-button {
		background-color:transparent;
	}
	.poi-fab {
		right: 10px;
		bottom: 10px;
	}
	.navigate-fab {
		right: 10px;
		bottom: 60px;
	}
}
