<!--
  Generated template for the LocationInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar hideBackButton="true">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Building</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-searchbar 
	(ionFocus)="searchBarOnFocus()"
	showCancelButton="false" 
	debounce="100" 
	placeholder="{{searchPlaceHolderText}}" 
	class="searchbar"
	[(ngModel)]="searchBar"
	(ionCancel)="onCancel($event)"
	(ionInput)="onInput($event)"
	(ionClear)="onClear($event)">
</ion-searchbar>
<div class="search-list-container" *ngIf="isShowSearchList">
	<ion-list *ngIf="searchType == 'Building'">
		<ion-item *ngFor="let item of buildingFilterList" (click)="buildingSelect(item)">
			{{ item.name }}
		</ion-item>		
	</ion-list>

	<ion-list *ngIf="searchType == 'POI'" >
		<ion-item *ngFor="let item of poiFilterList" (click)="poiSelect(item)">
			{{ item.name }}
		</ion-item>
	</ion-list>
</div>
	<!-- <ion-list>  
		<ion-item><b>Status : </b> {{status}}</ion-item>
		<ion-item><b>Building : </b> {{selectedBuilding.name}}</ion-item>
		<ion-item>
			<ion-label>Select POI</ion-label>
			<ion-select [(ngModel)]="selectedPoiName">
				<ion-option value="{{item.name}}" *ngFor="let item of poisList">{{item.name}}</ion-option>      
			</ion-select>
		</ion-item>

		

		<ion-item *ngIf="locationErrorMsg.length > 0" style="color:#ff0000;">
			Location - {{locationErrorMsg}}
		</ion-item>

		

		<button ion-button full *ngIf="selectedPoiName.length>0" (click)="showRoute()">Show Route</button>
		<button ion-button full *ngIf="currentRoute" (click)="showRoute()">Show Indications</button>

		<ion-item>
			<div id="map_canvas" style="width: 100%;height: 80vw;"></div>
		</ion-item>

		<ion-item *ngIf="navigationIndicationsMessage.length > 0">
			Navigation - <p class="indication-meessage" > {{navigationIndicationsMessage}}</p>
		</ion-item>
		<button ion-button full *ngIf="currentRoute" (click)="startNavigation()">Start Navigation</button>
	</ion-list> -->

	<div class="map-container">
		<div id="map_canvas" style="width: 100%;height: 100vh;"></div>
	</div>

	<div class="floor-list">
		<ion-list *ngIf="floorsArray.length > 0" >
			<ion-item [style.background-color]="(item.level == slectedFloor.level)?'#dddddd':'#ffffff'" *ngFor="let item of floorsArray" (click)="floorSelect(item)">
				{{ item.level }}
			</ion-item>
		</ion-list>
	</div>


	<ion-fab class="poi-fab" ng-if="selectedBuilding">
		<button ion-fab mini (click)="poiFindClick()">
			<ion-icon name="map"></ion-icon>
		</button>
	</ion-fab>

	<ion-fab class="navigate-fab" *ngIf="currentRoute">
		<button ion-fab mini (click)="startNavigation()">
			<ion-icon ios="ios-navigate" md="md-navigate"></ion-icon>
		</button>
	</ion-fab>

</ion-content>
<ion-footer>
	<ion-toolbar padding (click)="buildingFindClick()">
		<button class="building-select-button">
			  <ion-icon name="locate"></ion-icon>
		</button>
		{{selectedBuilding?selectedBuilding.name:'Building not selected'}}

		<img class="logo_img_bottom" src="./assets/situm_logo.png" />
	</ion-toolbar>
</ion-footer>
